<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Abbr:</strong>
  <%= @team.abbr %>
</p>

<p>
  <strong>Location:</strong>
  <%= @team.location %>
</p>


<p>
  <strong>Coach:</strong>
  <%= @team.coach %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
