<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @team.year %>
</p>

<p>
  <strong>Location:</strong>
  <%= @team.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Abbr:</strong>
  <%= @team.abbr %>
</p>

<p>
  <strong>Games Played:</strong>
  <%= @team.games_played %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @team.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @team.losses %>
</p>

<p>
  <strong>Roster</strong>
</p>

<% Player.where(team_id: @team.id).each do |player| %>
  <p><%= player.first_name + " " + player.last_name + "     " + player.position%></p>
<% end %>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
