<p id="notice"><%= notice %></p>

<h1> Schedules </h1>
<br><br>
<h3> Select Team to View Schedule </h3>

<%= select_tag 'team', options_for_select(@teams.where(year: "2018-2019").collect{ |team| [team.abbr, team.id]}, prompt: "Select Team") %>

<br>
<button onclick="window.location.href='/schedules'">Apply</button>





<% tm_id = 1  %>
<% tm = @teams.find_by(id: tm_id) %>
<br><br>
<h2><%= tm.location + " " + tm.name + " Schedule" %></h2>
<br><br>

<div class="table_container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Opponent</th>
        <th>Final Score</th>
      </tr>
    </thead>
    
    <tbody>
      <% @gts = @gamesteam.where(team_id: tm.id) %>
      <% @gts.each do |gt| %>
        <% game = @games.find_by(id: gt.game_id) %>
        <tr>
          <td><%= game.date %></td>
          <% old_time = game.time %>
          <% hour = old_time[0,2].to_i %>
          <% minutes = old_time[3,2].to_i %>
          <% if (hour > 5) %>
            <% hour = hour - 5 %>
          <% else %>
            <% hour = hour - 5 + 24 %>
          <% end %>
          <% if (hour >= 12) %>
          	<% tod = "PM" %>
          <% else %>
          	<% tod = "AM" %>
          <% end %>
          <% new_hour = hour % 12 %>
          <% if (new_hour == 0) %>
	          <% new_hour = 12 %>
          <% end %>
          <% if (minutes < 10) %>
            <% new_minutes = "0" + minutes.to_s %>
          <% else %>
           <% new_minutes = minutes.to_s %>
          <% end %>
          <% time = new_hour.to_s + ":" + new_minutes + " " + tod + " ET" %>
          <td><%= time %></td>
          <% if (game.home == tm.abbr)  %>
            <td><%= game.away %></td>
          <% else %>
            <td><%= game.home %></td>
          <% end %>
          <% if (game.home_score > game.away_score) %>
            <td><%= "W " + game.home_score.to_s + "-" + game.away_score.to_s %></td>
          <% elsif (game.home_score < game.away_score) %>
            <td><%= "L " + game.home_score.to_s + "-" + game.away_score.to_s %></td>
          <% else %>
            <td><%= "T " + game.home_score.to_s + "-" + game.away_score.to_s %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>