<p id="notice"><%= notice %></p>

<h1>Welcome! View NBA stats below</h1>

<h2>Players</h2>
<h5>PPG: Points per Game</h5>
<h5>APG: Assists per Game</h5> 
<h5>RPG: Rebounds per game</h5>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>PPG</th>
            <th>APG</th>
            <th>RPG</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    
    <tbody>
        <% @players.each do |player| %>
            <tr>
                <td><%= player.first_name %> <%= player.last_name %></td>
                <td><%= player.team %></td>
                <td><%= player.points %></td>
                <td><%= player.assists %></td>
                <td><%= player.rebounds %></td>
                <td><%= link_to 'Show', player %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<h2>Teams</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Abbr</th>
            <th>Location</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    
    <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td><%= team.abbr %></td>
            <td><%= team.location %></td>
            <td><%= link_to 'Show', team %></td>
          </tr>
        <% end %>
    </tbody>
</table>
