<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @game.time %>
</p>

<p>
  <strong>Home:</strong>
  <%= @game.home %>
</p>

<p>
  <strong>Away:</strong>
  <%= @game.away %>
</p>

<p>
  <strong>Home Score:</strong>
  <%= @game.home_score %>
</p>

<p>
  <strong>Away Score:</strong>
  <%= @game.away_score %>
</p>


<%= link_to 'Back', games_path %>
