<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  
  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :team_name %>
    <%= form.text_field :team_name %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>

  <div class="field">
    <%= form.label :assists %>
    <%= form.number_field :assists %>
  </div>

  <div class="field">
    <%= form.label :rebounds %>
    <%= form.number_field :rebounds %>
  </div>
  
  <div class="field">
    <%= form.label :blocks %>
    <%= form.number_field :blocks %>
  </div>

  <div class="field">
    <%= form.label :steals %>
    <%= form.number_field :steals %>
  </div>

  <div class="field">
    <%= form.label :twoPtFgAtt %>
    <%= form.number_field :twoPtFgAtt %>
  </div>

  <div class="field">
    <%= form.label :twoPtFgMade %>
    <%= form.number_field :twoPtFgMade %>
  </div>

  <div class="field">
    <%= form.label :threePtFgAtt %>
    <%= form.number_field :threePtFgAtt %>
  </div>

  <div class="field">
    <%= form.label :threePtFgMade %>
    <%= form.number_field :threePtFgMade %>
  </div>
  
  <div class="field">
    <%= form.label :freeThrowAtt %>
    <%= form.number_field :freeThrowAtt %>
  </div>
  
  <div class="field">
    <%= form.label :freeThrowMade %>
    <%= form.number_field :freeThrowMade%>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.number_field :team_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
