<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @player.year %>
</p>

<p>
  <!--<strong>First Name:</strong>-->
  <strong><%= @player.first_name %> <%= @player.last_name %></strong>
</p>
<p>
  <%= image_tag @player.image, :alt => 'player image' %>
</p>

<!--<p>-->
<!--  <strong>Last Name:</strong>-->
<!--  <%= @player.last_name %>-->
<!--</p>-->

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Team Name:</strong>
  <%= @player.team_name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @player.points %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @player.assists %>
</p>

<p>
  <strong>Rebounds:</strong>
  <%= @player.rebounds %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @player.blocks %>
</p>

<p>
  <strong>Steals:</strong>
  <%= @player.steals %>
</p>

<p>
  <strong>TwoPtFgAtt:</strong>
  <%= @player.twoPtFgAtt %>
</p>

<p>
  <strong>TwoPtFgMade:</strong>
  <%= @player.twoPtFgMade %>
</p>

<p>
  <strong>ThreePtFgAtt:</strong>
  <%= @player.threePtFgAtt%>
</p>

<p>
  <strong>ThreePtFgMade:</strong>
  <%= @player.threePtFgMade %>
</p>

<p>
  <strong>FreeThrowAtt:</strong>
  <%= @player.freeThrowAtt %>
</p>

<p>
  <strong>FreeThrowMade:</strong>
  <%= @player.freeThrowMade %>
</p>

<p>
  <strong>Team Id:</strong>
  <%= @player.team_id %>
</p>

<%= link_to 'Back', players_path %>
