<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<html>
  <head>
    <title>AnalyticsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--This is the code to add a logo icon to the tabs of our website. the photo is in /assets/images/favicon.ico-->
    <%= favicon_link_tag asset_path('favicon.ico') %>
    
  </head>

  <header class="navbar navbar-expand-lg navbar-light fixed-top" id="web-header">
    <a class="navbar-brand font-weight-bold" href="/" style="color: #727;">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link font-weight-bold" href="/players" style="color: #727;">Players</a>
        <a class="nav-item nav-link font-weight-bold" href="/teams" style="color: #727;">Teams</a>
        <a class="nav-item nav-link font-weight-bold" href="/games" style="color: #727;">Games</a>
        <a class="nav-item nav-link font-weight-bold" href="/schedules" style="color: #727;">Schedules</a>
        <a class="nav-item nav-link font-weight-bold" href="/auth/google_oauth2" style="color: #727;">Login with Google</a>
        <a class="nav-item font-weight-bold" style="color #727;"><%= current_user %></a>
      </div>
    </div>
  </header>

  <body>
    <%= yield %>
    <footer class="page-footer" id="footer">
      <div class="footer-list">
        <a href="/">Home</a>
        <a href="/players">Players</a>
        <a href="/teams">Teams</a>
        <a href="/games">Games</a>
        <a href="https://github.com/THoeller1099/Sports-Analytics-Project-SS">GitHub</a>
      </div>
      <img id="zion" src="https://github.com/THoeller1099/Sports-Analytics-Project-SS/blob/master/app/assets/images/thePhoto.jpg?raw=true" alt="The Boys">
    </footer>
  </body>
</html>
