<!DOCTYPE html>
<html>
  <head>
    <title>AnalyticsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--This is the code to add a logo icon to the tabs of our website. the photo is in /assets/images/favicon.ico-->
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <div>
    <img src="/Sports-Analytics-Projcet-SS/app/assets/images/zion.jpg" alt="Zion Williamson">
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
